@import "./common.css";

#semicircle {
  grid-row: 1;
  grid-column: 1;
}

#diamond {
  grid-row: 6;
  grid-column: var(--left-align);
}

@media screen and (max-width: 1000px) {
  :root {
    --rows: 13;
  }
}

@media screen and (max-width: 600px) {
  #bench {
    grid-column: 2;
  }
}
