@import "./common.css";

#semicircle {
    grid-row: 1;
    grid-column: 1;
}

#diamond {
    grid-row: 6;
    grid-column: var(--left-align);
}

#portrait {
    grid-row: 5;
    grid-column: 6;
    width: calc(4 * var(--cell-size));
}

@media screen and (max-width: 1000px) {
    #portrait {
        grid-column: 3;
        width: calc(3 * var(--cell-size));
    }
}

@media screen and (max-width: 600px) {
    #portrait {
        grid-column: 2;
    }
}