@import "./common.css";

#semicircle {
    grid-row: 1;
    grid-column: 1;
}

#diamond {
    grid-row: 6;
    grid-column: var(--left-align);
}

#chess {
    grid-row: 5;
    grid-column: 6;
    width: calc(4 * var(--cell-size));
}

#bench {
    grid-row: 7;
    grid-column: 2;
    width: calc(3 * var(--cell-size));
}

@media screen and (max-width: 1000px) {
    :root {
        --rows: 13;
    }

    #bench {
        grid-row: 9;
        grid-column: 4;
    }

    #chess {
        grid-row: 4;
        grid-column: 1;
    }
}

@media screen and (max-width: 600px) {
    #bench {
        grid-column: 2;
    }
}