:root {
    --light: 243, 242, 231;
    --dark: 20, 22, 61;
    --accent: 255, 206, 140;

    --rows: 10;
    --columns: 10;
    --cell-size: 100px;
    --width: calc(var(--columns) * var(--cell-size));
}

body {
    background: linear-gradient(270deg, #6687ae, #9db3ca);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-size: 72px;
}

p,
h1,
i {
    color: rgb(var(--dark));
    margin: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

main {
    display: grid;
    grid-template-columns: repeat(var(--columns), var(--cell-size));
    grid-template-rows: repeat(var(--rows), var(--cell-size));
    width: var(--width);
    margin: 0 auto;
    background-image: url("assets/grid-box.svg");
    background-size: calc(var(--cell-size));
}

@media screen and (max-width: 1000px) {
    :root {
        --columns: 6;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --columns: 4;
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    width: 100px;
    height: 100px;
    background-color: rgba(var(--light), 0.25);
    border: solid rgb(var(--light)) 1px;
}

nav li:hover {
    background-color: rgba(var(--light), 0.5);
}

nav li.active {
    background-color: rgba(var(--light), 0.75);
    border: solid rgb(var(--accent)) 2px;
}

nav a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

nav a p {
    font-size: 18px;
}

#welcome {
    grid-column: 3;
    grid-row: 2;
}

#intro {
    grid-column: 3/9;
    grid-row: 3;
}

#intro p {
    font-size: 36px;
}

.btn {
    cursor: pointer;
    background-color: rgba(var(--light), 0.25);
    border: solid rgb(var(--light)) 1px;
    width: var(--cell-size);
    height: var(--cell-size);

    transition: width 500ms, height 500ms;
}

.btn:hover {
    background-color: rgba(var(--light), 0.75);
    border: solid rgb(var(--accent)) 2px;
    height: calc(3 * var(--cell-size));
    width: calc(4 * var(--cell-size));
}

#school-btn {
    grid-row: 7/10;
    grid-column: 3/7;
}