:root {
    --light: 243, 242, 231;
    --dark: 20, 22, 61;
    --accent: 255, 206, 140;

    --rows: 10;
    --columns: 10;
    --cell-size: 100px;
    --width: calc(var(--columns) * var(--cell-size));

    --left-align: 3;
    --right-align: 9;
    --top-align: 2;
}

body {
    background: rgb(157, 179, 202);
    background: radial-gradient(circle, rgba(157, 179, 202, 1) 0%, rgba(102, 135, 174, 1) 100%);
    height: 100vh;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: calc(.18 * var(--cell-size));
    padding: calc(.1 * var(--cell-size));
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-size: calc(.75 * var(--cell-size));
}

i {
    font-size: calc(.5 * var(--cell-size));
}

p,
h1,
i {
    color: rgb(var(--dark));
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(var(--columns), var(--cell-size));
    grid-template-rows: repeat(var(--rows), var(--cell-size));
    width: var(--width);
    margin: 0 auto;
    background-image: url("assets/grid-box.svg");
    background-size: calc(var(--cell-size));
}

#semicircle {
    background-image: url("assets/semicircle.svg");
    grid-row: 1;
    grid-column: 1;
    height: calc(4 * var(--cell-size));
    width: calc(2 * var(--cell-size));
    opacity: .25;
    z-index: -1;
}

#diamond {
    background-image: url("assets/diamond.svg");
    grid-row: 5;
    grid-column: 5;
    height: calc(4 * var(--cell-size));
    width: calc(4 * var(--cell-size));
    opacity: .25;
    z-index: -1;
}

.tile {
    box-sizing: border-box;
    background-color: rgba(var(--light), 0.25);
    border: solid rgb(var(--light)) 1px;
}

.tile.active {
    background-color: rgba(var(--light), 0.75);
    border: solid rgb(var(--accent)) 2px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    list-style: none;
    width: var(--cell-size);
    height: var(--cell-size);

}

nav li:hover {
    background-color: rgba(var(--light), 0.5);
}

nav a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

#welcome {
    grid-column: var(--left-align)/var(--right-align);
    grid-row: var(--top-align);
}

#intro {
    grid-column: var(--left-align)/var(--right-align);
    grid-row: calc(var(--top-align) + 1);
}

#intro p {
    font-size: calc(.35 * var(--cell-size));
}

.btn {
    cursor: pointer;
    height: var(--cell-size);
    width: var(--cell-size);
    grid-column: var(--left-align);
}

.btn.active {
    border-right: none;
}

.btn.inactive {
    border-right: solid rgb(var(--accent)) 2px;
}

#info-viewport {
    position: relative;
    grid-column: calc(var(--left-align) + 1) / var(--right-align);
    grid-row: 6 / 10;
    border: none;
    width: 0px;
    transition: width 500ms;
}

#info-viewport.active {
    border: solid rgb(var(--accent)) 2px;
    border-left: none;
}

#info-viewport.active,
.info {
    width: calc((var(--right-align) - var(--left-align) - 1) * var(--cell-size));
}

.info {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 250ms;
    transition-delay: 0ms;
}

.info.visible {
    opacity: 1;
    transition-delay: 500ms;
    transition-duration: 500ms;
}

#school-btn {
    grid-row: 6;
}

#code-btn {
    grid-row: 7;
}

#design-btn {
    grid-row: 8;
}

#music-btn {
    grid-row: 9;
}

@media screen and (max-width: 1000px) {
    :root {
        --columns: 6;
        --left-align: 2;
        --right-align: 6;
        --top-align: 1;
    }

    #diamond {
        grid-column: 3;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --columns: 4;
        --cell-size: min(100px, 20vw);
        --left-align: 1;
        --right-align: 5;
        --top-align: 1;
    }

    nav {
        justify-content: center;
    }

    #diamond {
        grid-column: 1;
    }
}